* {
  box-sizing: border-box;
}

#background {
  background-image: url("https://st.depositphotos.com/1529768/3913/i/950/depositphotos_39133407-stock-photo-baking-flour-texture-background.jpg");
  min-height: 3em;
  min-width: 920px;
  background-position: center;
  background-size: cover;
}

#mainHeading{
  font-size: 46px;
  text-align: center;
  color: black;
  word-spacing: 50px;
  font-family: 'mogra', cursive;

}
#button {
  font-size: 30px;
  border-radius: 5px;
  color: black;
  background-color: chocolate;
  border-color: chocolate;
}

#iconContainer{
  width: 10%;
  height: 600px;
  /*border: 2px solid black;*/
  display: inline-block;
  vertical-align: top;
}

#container {
  height: 600px;
  width: 80%;
  display: inline-block;
  font-size: 0;
  /*border: 2px solid black;*/

}

#container section {
  font-size: 10rem;
  height: 30.3333%;
  width: 33.3333%;
  border: 1px solid black;
  display: inline-block;
  vertical-align: top;
  text-align: center;
}

#container section:nth-child(n-3) {
  border-top: 0px;
}

#container section:nth-child(3n+1) {
  border-left: 0px;
}

#container section:nth-child(n+7) {
  border-bottom: 0px;
}

#container section:nth-child(3n+3) {
  border-right: 0px;
}
